body {
   margin: 0;
   padding: 0;
   font-family: 'SF Pro Text';
   font-size: 16px;
}

.mainContainerPass {
   height: 100%;
   //background-color: #f7f8fa;
   position: relative;
   overflow: hidden;
}

.titlePass {
   margin: 0;
   font-size: 4em;
   letter-spacing: -2px;
   font-family: 'TRY Vesterbro Black';
   width: 100%;
   margin-bottom: 10px;
   padding-left: 20px;
   box-sizing: border-box;
}

.hrPass {
   color: #a0a0a0;
   border: none;
   border-top: 1px solid #a0a0a0; 
   width: calc(100% - 40px);
   margin-bottom: 20px;
}

.leftPanelPass {
   height: 610px;
   position: relative;
   left: 0;
   top: 0;
   margin-left: 20px;
   width: calc(100% - 400px);
   display: inline-block;
   overflow-y: scroll;
   -ms-overflow-style: none;
}

.leftPanelPass::-webkit-scrollbar {
   display: none;  
}

.rightPanelPass {
   position: absolute;
   right: 20px;
   border-radius: 2px;
   background: rgba(255, 255, 255) url(../resources/1-10062_watercolor-flowers-shading-pink-flowers-watercolor-pink-flower2%20-%20Copy.png);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: contain;
   height: 610px;
   width: 350px;
   box-shadow: 2px 2px 20px rgba(184,187,200,0.3);
   display: inline-block;
   padding: 40px 30px;
   box-sizing: border-box;
   overflow-y: scroll;
   -ms-overflow-style: none;
}

.rightPanelPass::-webkit-scrollbar {
   display: none;  
}

.plusIconPass {
   font-size: 2.2em;
   margin: 0;
   display: inline-block;
}

.rightTitlePass {
   margin: 0 5px;
   display: inline-block;
   font-size: 1.8em;
   font-family: 'TRY Vesterbro Black';
   margin-bottom: 15px;
}

.noticeRightPass {
   font-family: 'poppins';
   font-size: 0.8em;
   margin: 0;
   color: gray;
   font-weight: 300;
}

.controlsRightPass {
   margin-top: 20px;
   width: 100%;
   height: 30px;
}

.controlsRightPass .inputText {
   width: 100%;
   margin-bottom: 15px;
   border: 2px solid #b2b2b2;
   height: 40px;
   font-size: 1em;
   padding: 0 10px;
   z-index: 3;
   box-sizing: border-box;
   font-family: 'poppins';
   border-radius: 2px;
}

.controlsRightPass .inputText::placeholder {
   color: #b7b7b7;
   font-weight: 300;
   font-size: 1em;
}

.controlsRightPass .inputText:focus {
   border: 2px solid #af0404;
   outline: none;
}

.backgroundRightPass {
   width: 100%;
   position: absolute;
   left: 0;
   bottom: 0;
   filter: opacity(50%);
}

.updateButtonRight {
   width: 100%;
   height: 40px;
   font-size: 1em;
   font-family: 'poppins';
   color: white;
   border: none;
   border-radius: 2px;
   background-color: #af0404;
   margin-top: 15px;
}

.updateButtonRight:hover {
   background-color: #770303;
}

#msgAddPassword {
   position: relative;
   width: 100%;
   text-align: right;
   font-size: 0.9em;
   color: red;
}

.cardsPass {
   width: 47.0%;
   margin: 0 20px 20px 0;
   position: relative;
   height: 250px;
   border-radius: 10px;
   font-family: 'poppins';
   font-size: 1em;
   background: linear-gradient(130deg, #fad961, #f76b1c);
   display: inline-block;
   color: #fff;
   padding: 20px;
   box-sizing: border-box;
   overflow-y: scroll;
   -ms-overflow-style: none;
}

.cardsPass:hover {
   box-shadow: 2px 2px 20px rgba(184,187,200,0.3);
}

.cardsPass::-webkit-scrollbar {
   display: none;  
}

.cardUsernameDiv {
   width: 100%;
   padding: 3px 0;
   position: relative;
}

.cardPasswordDiv {
   width: 100%;
   padding: 3px 0;
   position: relative;
}

.cardsUsernamePass {
   width: auto;
   display: inline-block;
   margin: 0;
   font-size: 1.1em;
   position: relative;
}

.cardsUsername {
   width: auto;
   display: inline-block;
   margin: 0;
   position: relative;
}

.getValueCard {
   background-color: #00000030;
   border: 0;
   border-radius: 3px;
   color: #ffffff80;
   padding: 0 5px;
   font-family: 'GT America Mono';
}

.getValueCard:hover {
   background-color: #00000060;
   color: #fff;
}

.getValueCard:focus {
   outline: none;
   background-color: #ffffff;
   color: #000;
}

.cardsTitlePass {
   font-size: 1.8em;
   overflow: hidden;
   margin: 5px 0 10px 0;
   font-family: 'TRY Vesterbro Black';
   background-color: #00000030;
   padding: 5px 0;
   text-align: center;
   border-radius: 2px;
}

.cardNotes {
   margin: 20px 0 5px 0;
   width: auto;
   display: inline-block;
}

.notes {
   width: auto;
   margin: 0;
   font-size: 0.8em;
}

.deleteIcon {
   font-size: 1.3em;
   box-sizing: border-box;
   right: 30px;
   margin: 16px 0 0 0;
   text-align: right;
   position: absolute;
}

.deleteIcon:hover {
   color: #ffffff70;
}

.noPassCard {
   width: 95%;
   height: 100%;
}

.noDataFoundImg {
   width: 70%;
   margin-top: 5%;
   left: 50%;
   position: relative;
   transform: translateX(-50%);
   opacity: 60%;
}

.noDataFoundText {
   margin: 20px 0 0 0;
   color: #cbcbcb;
   font-size: 3.5em;
   width: 100%;
   text-align: center;
   font-family: 'TRY Vesterbro Black';
}